:root {
--su-color-primary1: rgba(222, 49, 99, 1);
--su-color-primary2: rgba(255, 127, 80, 1);
--su-color-primary3: rgba(255, 191, 0, 1);
--su-color-secondary1: rgba(223, 255, 0, 1);
--su-color-secondary2: rgba(159, 226, 191, 1);
--su-color-secondary3: rgba(64, 224, 208, 1);
--su-color-other1: rgba(100, 149, 237, 1);
--su-color-other2: rgba(204, 204, 255, 1);
}
body {font-family: 'system-ui';}
.su-ff-courier-new {font-family: 'Courier New';}
.su-ff-courier {font-family: 'Courier';}
.su-ff-monospace {font-family: 'monospace';}
.su-ff-franklin-gothic-medium {font-family: 'Franklin Gothic Medium';}
.su-ff-arial-narrow {font-family: 'Arial Narrow';}
.su-ff-arial {font-family: 'Arial';}
.su-ff-sans-serif {font-family: 'sans-serif';}
.su-ff-gill-sans {font-family: 'Gill Sans';}
.su-ff-gill-sans-mt {font-family: 'Gill Sans MT';}
.su-ff-calibri {font-family: 'Calibri';}
.su-ff-trebuchet-ms {font-family: 'Trebuchet MS';}
.su-ff-lucida-sans {font-family: 'Lucida Sans';}
.su-ff-lucida-sans-regular {font-family: 'Lucida Sans Regular';}
.su-ff-lucida-grande {font-family: 'Lucida Grande';}
.su-ff-lucida-sans-unicode {font-family: 'Lucida Sans Unicode';}
.su-ff-geneva {font-family: 'Geneva';}
.su-ff-verdana {font-family: 'Verdana';}
.su-ff-segoe-ui {font-family: 'Segoe UI';}
.su-ff-tahoma {font-family: 'Tahoma';}
.su-ff-times-new-roman {font-family: 'Times New Roman';}
.su-ff-times {font-family: 'Times';}
.su-ff-serif {font-family: 'serif';}
.su-ff-helvetica {font-family: 'Helvetica';}
.su-ff-cambria {font-family: 'Cambria';}
.su-ff-cochin {font-family: 'Cochin';}
.su-ff-georgia {font-family: 'Georgia';}
.su-ff-impact {font-family: 'Impact';}
.su-ff-haettenschweiler {font-family: 'Haettenschweiler';}
.su-ff-arial-narrow-bold {font-family: 'Arial Narrow Bold';}
.su-ff-cursive {font-family: 'cursive';}
.su-ff-fantasy {font-family: 'fantasy';}
.su-ff-system-ui {font-family: 'system-ui';}
.su-ff--apple-system {font-family: '-apple-system';}
.su-ff-blinkmacsystemfont {font-family: 'BlinkMacSystemFont';}
.su-ff-roboto {font-family: 'Roboto';}
.su-ff-oxygen {font-family: 'Oxygen';}
.su-ff-ubuntu {font-family: 'Ubuntu';}
.su-ff-cantarell {font-family: 'Cantarell';}
.su-ff-open-sans {font-family: 'Open Sans';}
.su-ff-helvetica-neue {font-family: 'Helvetica Neue';}
h1 {font-size: 37px;}
h2 {font-size: 28px;}
h3 {font-size: 22px;}
h4 {font-size: 19px;}
h5 {font-size: 16px;}
h6 {font-size: 13px;}
.su-fs-18 {font-size: 18px;}
.su-fs-16 {font-size: 16px;}
.su-fs-14 {font-size: 14px;}
.su-fs-12 {font-size: 12px;}
.su-fs-11 {font-size: 11px;}
.su-fw-lighter {font-weight: lighter;}
.su-fw-bolder {font-weight: bolder;}
.su-bd-0 {border: 0px solid black;}
.su-bd-1 {border: 1px solid black;}
.su-bd-2 {border: 2px solid black;}
.su-bd-3 {border: 3px solid black;}
.su-bd-4 {border: 4px solid black;}
.su-bd-8 {border: 8px solid black;}
.su-bdl-0 {border-left: 0px solid black;}
.su-bdl-1 {border-left: 1px solid black;}
.su-bdl-2 {border-left: 2px solid black;}
.su-bdl-3 {border-left: 3px solid black;}
.su-bdl-4 {border-left: 4px solid black;}
.su-bdl-8 {border-left: 8px solid black;}
.su-bdt-0 {border-top: 0px solid black;}
.su-bdt-1 {border-top: 1px solid black;}
.su-bdt-2 {border-top: 2px solid black;}
.su-bdt-3 {border-top: 3px solid black;}
.su-bdt-4 {border-top: 4px solid black;}
.su-bdt-8 {border-top: 8px solid black;}
.su-bdr-0 {border-right: 0px solid black;}
.su-bdr-1 {border-right: 1px solid black;}
.su-bdr-2 {border-right: 2px solid black;}
.su-bdr-3 {border-right: 3px solid black;}
.su-bdr-4 {border-right: 4px solid black;}
.su-bdr-8 {border-right: 8px solid black;}
.su-bdb-0 {border-bottom: 0px solid black;}
.su-bdb-1 {border-bottom: 1px solid black;}
.su-bdb-2 {border-bottom: 2px solid black;}
.su-bdb-3 {border-bottom: 3px solid black;}
.su-bdb-4 {border-bottom: 4px solid black;}
.su-bdb-8 {border-bottom: 8px solid black;}
.su-bdx-0 {border-left: 0px solid black;border-right: 0px solid black;}
.su-bdx-1 {border-left: 1px solid black;border-right: 1px solid black;}
.su-bdx-2 {border-left: 2px solid black;border-right: 2px solid black;}
.su-bdx-3 {border-left: 3px solid black;border-right: 3px solid black;}
.su-bdx-4 {border-left: 4px solid black;border-right: 4px solid black;}
.su-bdx-8 {border-left: 8px solid black;border-right: 8px solid black;}
.su-bdy-0 {border-top: 0px solid black;border-bottom: 0px solid black;}
.su-bdy-1 {border-top: 1px solid black;border-bottom: 1px solid black;}
.su-bdy-2 {border-top: 2px solid black;border-bottom: 2px solid black;}
.su-bdy-3 {border-top: 3px solid black;border-bottom: 3px solid black;}
.su-bdy-4 {border-top: 4px solid black;border-bottom: 4px solid black;}
.su-bdy-8 {border-top: 8px solid black;border-bottom: 8px solid black;}
.su-bd-radius-2 {border-radius: 2px;}
.su-bd-radius-4 {border-radius: 4px;}
.su-bd-radius-6 {border-radius: 6px;}
.su-bd-radius-8 {border-radius: 8px;}
.su-bd-radius-10 {border-radius: 10px;}
.su-ol-0 {outline: 0px solid black;}
.su-ol-1 {outline: 1px solid black;}
.su-ol-2 {outline: 2px solid black;}
.su-ol-3 {outline: 3px solid black;}
.su-ol-4 {outline: 4px solid black;}
.su-ol-8 {outline: 8px solid black;}
.su-text-shadow-primary1 {text-shadow:0px 0px 1px var(--su-color-primary1);}
.su-text-shadow-primary2 {text-shadow:0px 0px 1px var(--su-color-primary2);}
.su-text-shadow-primary3 {text-shadow:0px 0px 1px var(--su-color-primary3);}
.su-text-shadow-secondary1 {text-shadow:0px 0px 1px var(--su-color-secondary1);}
.su-text-shadow-secondary2 {text-shadow:0px 0px 1px var(--su-color-secondary2);}
.su-text-shadow-secondary3 {text-shadow:0px 0px 1px var(--su-color-secondary3);}
.su-text-shadow-other1 {text-shadow:0px 0px 1px var(--su-color-other1);}
.su-text-shadow-other2 {text-shadow:0px 0px 1px var(--su-color-other2);}
.su-text-shadow-0 {text-shadow:0px 0px 0px black;}
.su-text-shadow-10 {text-shadow:0px 0px 2px black;}
.su-text-shadow-20 {text-shadow:0px 0px 4px black;}
.su-text-shadow-30 {text-shadow:0px 0px 6px black;}
.su-text-shadow-40 {text-shadow:0px 0px 8px black;}
.su-text-shadow-50 {text-shadow:0px 0px 10px black;}
.su-text-shadow-60 {text-shadow:0px 0px 12px black;}
.su-text-shadow-70 {text-shadow:0px 0px 14px black;}
.su-text-shadow-80 {text-shadow:0px 0px 16px black;}
.su-text-shadow-90 {text-shadow:0px 0px 18px black;}
.su-text-shadow-100 {text-shadow:0px 0px 20px black;}
.su-box-shadow-primary1 {box-shadow:0px 0px 10px var(--su-color-primary1);}
.su-box-shadow-primary2 {box-shadow:0px 0px 10px var(--su-color-primary2);}
.su-box-shadow-primary3 {box-shadow:0px 0px 10px var(--su-color-primary3);}
.su-box-shadow-secondary1 {box-shadow:0px 0px 10px var(--su-color-secondary1);}
.su-box-shadow-secondary2 {box-shadow:0px 0px 10px var(--su-color-secondary2);}
.su-box-shadow-secondary3 {box-shadow:0px 0px 10px var(--su-color-secondary3);}
.su-box-shadow-other1 {box-shadow:0px 0px 10px var(--su-color-other1);}
.su-box-shadow-other2 {box-shadow:0px 0px 10px var(--su-color-other2);}
.su-box-shadow-0 {box-shadow:0px 0px 0px black;}
.su-box-shadow-10 {box-shadow:0px 0px 2px black;}
.su-box-shadow-20 {box-shadow:0px 0px 4px black;}
.su-box-shadow-30 {box-shadow:0px 0px 6px black;}
.su-box-shadow-40 {box-shadow:0px 0px 8px black;}
.su-box-shadow-50 {box-shadow:0px 0px 10px black;}
.su-box-shadow-60 {box-shadow:0px 0px 12px black;}
.su-box-shadow-70 {box-shadow:0px 0px 14px black;}
.su-box-shadow-80 {box-shadow:0px 0px 16px black;}
.su-box-shadow-90 {box-shadow:0px 0px 18px black;}
.su-box-shadow-100 {box-shadow:0px 0px 20px black;}
.su-box-shadow-inset-primary1 {box-shadow:inset 0px 0px 10px var(--su-color-primary1);}
.su-box-shadow-inset-primary2 {box-shadow:inset 0px 0px 10px var(--su-color-primary2);}
.su-box-shadow-inset-primary3 {box-shadow:inset 0px 0px 10px var(--su-color-primary3);}
.su-box-shadow-inset-secondary1 {box-shadow:inset 0px 0px 10px var(--su-color-secondary1);}
.su-box-shadow-inset-secondary2 {box-shadow:inset 0px 0px 10px var(--su-color-secondary2);}
.su-box-shadow-inset-secondary3 {box-shadow:inset 0px 0px 10px var(--su-color-secondary3);}
.su-box-shadow-inset-other1 {box-shadow:inset 0px 0px 10px var(--su-color-other1);}
.su-box-shadow-inset-other2 {box-shadow:inset 0px 0px 10px var(--su-color-other2);}
.su-box-shadow-inset-0 {box-shadow:inset 0px 0px 0px black;}
.su-box-shadow-inset-10 {box-shadow:inset 0px 0px 2px black;}
.su-box-shadow-inset-20 {box-shadow:inset 0px 0px 4px black;}
.su-box-shadow-inset-30 {box-shadow:inset 0px 0px 6px black;}
.su-box-shadow-inset-40 {box-shadow:inset 0px 0px 8px black;}
.su-box-shadow-inset-50 {box-shadow:inset 0px 0px 10px black;}
.su-box-shadow-inset-60 {box-shadow:inset 0px 0px 12px black;}
.su-box-shadow-inset-70 {box-shadow:inset 0px 0px 14px black;}
.su-box-shadow-inset-80 {box-shadow:inset 0px 0px 16px black;}
.su-box-shadow-inset-90 {box-shadow:inset 0px 0px 18px black;}
.su-box-shadow-inset-100 {box-shadow:inset 0px 0px 20px black;}
.su-text-primary1 {color:var(--su-color-primary1);}
.su-text-primary2 {color:var(--su-color-primary2);}
.su-text-primary3 {color:var(--su-color-primary3);}
.su-text-secondary1 {color:var(--su-color-secondary1);}
.su-text-secondary2 {color:var(--su-color-secondary2);}
.su-text-secondary3 {color:var(--su-color-secondary3);}
.su-text-other1 {color:var(--su-color-other1);}
.su-text-other2 {color:var(--su-color-other2);}
.su-text-0 {color:rgba(0,0,0,1);}
.su-text-10 {color:rgba(25.5,25.5,25.5,1);}
.su-text-20 {color:rgba(51,51,51,1);}
.su-text-30 {color:rgba(76.5,76.5,76.5,1);}
.su-text-40 {color:rgba(102,102,102,1);}
.su-text-50 {color:rgba(127.5,127.5,127.5,1);}
.su-text-60 {color:rgba(153,153,153,1);}
.su-text-70 {color:rgba(178.5,178.5,178.5,1);}
.su-text-80 {color:rgba(204,204,204,1);}
.su-text-90 {color:rgba(229.5,229.5,229.5,1);}
.su-text-100 {color:rgba(255,255,255,1);}
.su-bg-primary1 {background-color:var(--su-color-primary1);}
.su-bg-primary2 {background-color:var(--su-color-primary2);}
.su-bg-primary3 {background-color:var(--su-color-primary3);}
.su-bg-secondary1 {background-color:var(--su-color-secondary1);}
.su-bg-secondary2 {background-color:var(--su-color-secondary2);}
.su-bg-secondary3 {background-color:var(--su-color-secondary3);}
.su-bg-other1 {background-color:var(--su-color-other1);}
.su-bg-other2 {background-color:var(--su-color-other2);}
.su-bg-0 {background-color:rgba(0,0,0,1);}
.su-bg-10 {background-color:rgba(25.5,25.5,25.5,1);}
.su-bg-20 {background-color:rgba(51,51,51,1);}
.su-bg-30 {background-color:rgba(76.5,76.5,76.5,1);}
.su-bg-40 {background-color:rgba(102,102,102,1);}
.su-bg-50 {background-color:rgba(127.5,127.5,127.5,1);}
.su-bg-60 {background-color:rgba(153,153,153,1);}
.su-bg-70 {background-color:rgba(178.5,178.5,178.5,1);}
.su-bg-80 {background-color:rgba(204,204,204,1);}
.su-bg-90 {background-color:rgba(229.5,229.5,229.5,1);}
.su-bg-100 {background-color:rgba(255,255,255,1);}
.su-bd-primary1 {border-color:var(--su-color-primary1);}
.su-bd-primary2 {border-color:var(--su-color-primary2);}
.su-bd-primary3 {border-color:var(--su-color-primary3);}
.su-bd-secondary1 {border-color:var(--su-color-secondary1);}
.su-bd-secondary2 {border-color:var(--su-color-secondary2);}
.su-bd-secondary3 {border-color:var(--su-color-secondary3);}
.su-bd-other1 {border-color:var(--su-color-other1);}
.su-bd-other2 {border-color:var(--su-color-other2);}
.su-bd-c0 {border-color:rgba(0,0,0,1);}
.su-bd-c10 {border-color:rgba(25.5,25.5,25.5,1);}
.su-bd-c20 {border-color:rgba(51,51,51,1);}
.su-bd-c30 {border-color:rgba(76.5,76.5,76.5,1);}
.su-bd-c40 {border-color:rgba(102,102,102,1);}
.su-bd-c50 {border-color:rgba(127.5,127.5,127.5,1);}
.su-bd-c60 {border-color:rgba(153,153,153,1);}
.su-bd-c70 {border-color:rgba(178.5,178.5,178.5,1);}
.su-bd-c80 {border-color:rgba(204,204,204,1);}
.su-bd-c90 {border-color:rgba(229.5,229.5,229.5,1);}
.su-bd-c100 {border-color:rgba(255,255,255,1);}
.su-ol-primary1 {outline-color:var(--su-color-primary1);}
.su-ol-primary2 {outline-color:var(--su-color-primary2);}
.su-ol-primary3 {outline-color:var(--su-color-primary3);}
.su-ol-secondary1 {outline-color:var(--su-color-secondary1);}
.su-ol-secondary2 {outline-color:var(--su-color-secondary2);}
.su-ol-secondary3 {outline-color:var(--su-color-secondary3);}
.su-ol-other1 {outline-color:var(--su-color-other1);}
.su-ol-other2 {outline-color:var(--su-color-other2);}
.su-ol-c0 {outline-color:rgba(0,0,0,1);}
.su-ol-c10 {outline-color:rgba(25.5,25.5,25.5,1);}
.su-ol-c20 {outline-color:rgba(51,51,51,1);}
.su-ol-c30 {outline-color:rgba(76.5,76.5,76.5,1);}
.su-ol-c40 {outline-color:rgba(102,102,102,1);}
.su-ol-c50 {outline-color:rgba(127.5,127.5,127.5,1);}
.su-ol-c60 {outline-color:rgba(153,153,153,1);}
.su-ol-c70 {outline-color:rgba(178.5,178.5,178.5,1);}
.su-ol-c80 {outline-color:rgba(204,204,204,1);}
.su-ol-c90 {outline-color:rgba(229.5,229.5,229.5,1);}
.su-ol-c100 {outline-color:rgba(255,255,255,1);}
.su-p-0{padding:0px;}
.su-p-1{padding:1px;}
.su-p-2{padding:2px;}
.su-p-3{padding:3px;}
.su-p-4{padding:4px;}
.su-p-8{padding:8px;}
.su-p-16{padding:16px;}
.su-p-24{padding:24px;}
.su-p-32{padding:32px;}
.su-p-40{padding:40px;}
.su-p-48{padding:48px;}
.su-p-56{padding:56px;}
.su-p-64{padding:64px;}
.su-p-72{padding:72px;}
.su-p-80{padding:80px;}
.su-pl-0{padding-left:0px;}
.su-pl-1{padding-left:1px;}
.su-pl-2{padding-left:2px;}
.su-pl-3{padding-left:3px;}
.su-pl-4{padding-left:4px;}
.su-pl-8{padding-left:8px;}
.su-pl-16{padding-left:16px;}
.su-pl-24{padding-left:24px;}
.su-pl-32{padding-left:32px;}
.su-pl-40{padding-left:40px;}
.su-pl-48{padding-left:48px;}
.su-pl-56{padding-left:56px;}
.su-pl-64{padding-left:64px;}
.su-pl-72{padding-left:72px;}
.su-pl-80{padding-left:80px;}
.su-pt-0{padding-top:0px;}
.su-pt-1{padding-top:1px;}
.su-pt-2{padding-top:2px;}
.su-pt-3{padding-top:3px;}
.su-pt-4{padding-top:4px;}
.su-pt-8{padding-top:8px;}
.su-pt-16{padding-top:16px;}
.su-pt-24{padding-top:24px;}
.su-pt-32{padding-top:32px;}
.su-pt-40{padding-top:40px;}
.su-pt-48{padding-top:48px;}
.su-pt-56{padding-top:56px;}
.su-pt-64{padding-top:64px;}
.su-pt-72{padding-top:72px;}
.su-pt-80{padding-top:80px;}
.su-pr-0{padding-right:0px;}
.su-pr-1{padding-right:1px;}
.su-pr-2{padding-right:2px;}
.su-pr-3{padding-right:3px;}
.su-pr-4{padding-right:4px;}
.su-pr-8{padding-right:8px;}
.su-pr-16{padding-right:16px;}
.su-pr-24{padding-right:24px;}
.su-pr-32{padding-right:32px;}
.su-pr-40{padding-right:40px;}
.su-pr-48{padding-right:48px;}
.su-pr-56{padding-right:56px;}
.su-pr-64{padding-right:64px;}
.su-pr-72{padding-right:72px;}
.su-pr-80{padding-right:80px;}
.su-pb-0{padding-bottom:0px;}
.su-pb-1{padding-bottom:1px;}
.su-pb-2{padding-bottom:2px;}
.su-pb-3{padding-bottom:3px;}
.su-pb-4{padding-bottom:4px;}
.su-pb-8{padding-bottom:8px;}
.su-pb-16{padding-bottom:16px;}
.su-pb-24{padding-bottom:24px;}
.su-pb-32{padding-bottom:32px;}
.su-pb-40{padding-bottom:40px;}
.su-pb-48{padding-bottom:48px;}
.su-pb-56{padding-bottom:56px;}
.su-pb-64{padding-bottom:64px;}
.su-pb-72{padding-bottom:72px;}
.su-pb-80{padding-bottom:80px;}
.su-px-0{padding-left:0px;padding-right:0px;}
.su-px-1{padding-left:1px;padding-right:1px;}
.su-px-2{padding-left:2px;padding-right:2px;}
.su-px-3{padding-left:3px;padding-right:3px;}
.su-px-4{padding-left:4px;padding-right:4px;}
.su-px-8{padding-left:8px;padding-right:8px;}
.su-px-16{padding-left:16px;padding-right:16px;}
.su-px-24{padding-left:24px;padding-right:24px;}
.su-px-32{padding-left:32px;padding-right:32px;}
.su-px-40{padding-left:40px;padding-right:40px;}
.su-px-48{padding-left:48px;padding-right:48px;}
.su-px-56{padding-left:56px;padding-right:56px;}
.su-px-64{padding-left:64px;padding-right:64px;}
.su-px-72{padding-left:72px;padding-right:72px;}
.su-px-80{padding-left:80px;padding-right:80px;}
.su-py-0{padding-top:0px;padding-bottom:0px;}
.su-py-1{padding-top:1px;padding-bottom:1px;}
.su-py-2{padding-top:2px;padding-bottom:2px;}
.su-py-3{padding-top:3px;padding-bottom:3px;}
.su-py-4{padding-top:4px;padding-bottom:4px;}
.su-py-8{padding-top:8px;padding-bottom:8px;}
.su-py-16{padding-top:16px;padding-bottom:16px;}
.su-py-24{padding-top:24px;padding-bottom:24px;}
.su-py-32{padding-top:32px;padding-bottom:32px;}
.su-py-40{padding-top:40px;padding-bottom:40px;}
.su-py-48{padding-top:48px;padding-bottom:48px;}
.su-py-56{padding-top:56px;padding-bottom:56px;}
.su-py-64{padding-top:64px;padding-bottom:64px;}
.su-py-72{padding-top:72px;padding-bottom:72px;}
.su-py-80{padding-top:80px;padding-bottom:80px;}
.su-m-0{margin:0px;}
.su-m-1{margin:1px;}
.su-m-2{margin:2px;}
.su-m-3{margin:3px;}
.su-m-4{margin:4px;}
.su-m-8{margin:8px;}
.su-m-16{margin:16px;}
.su-m-24{margin:24px;}
.su-m-32{margin:32px;}
.su-m-40{margin:40px;}
.su-m-48{margin:48px;}
.su-m-56{margin:56px;}
.su-m-64{margin:64px;}
.su-m-72{margin:72px;}
.su-m-80{margin:80px;}
.su-ml-0{margin-left:0px;}
.su-ml-1{margin-left:1px;}
.su-ml-2{margin-left:2px;}
.su-ml-3{margin-left:3px;}
.su-ml-4{margin-left:4px;}
.su-ml-8{margin-left:8px;}
.su-ml-16{margin-left:16px;}
.su-ml-24{margin-left:24px;}
.su-ml-32{margin-left:32px;}
.su-ml-40{margin-left:40px;}
.su-ml-48{margin-left:48px;}
.su-ml-56{margin-left:56px;}
.su-ml-64{margin-left:64px;}
.su-ml-72{margin-left:72px;}
.su-ml-80{margin-left:80px;}
.su-mt-0{margin-top:0px;}
.su-mt-1{margin-top:1px;}
.su-mt-2{margin-top:2px;}
.su-mt-3{margin-top:3px;}
.su-mt-4{margin-top:4px;}
.su-mt-8{margin-top:8px;}
.su-mt-16{margin-top:16px;}
.su-mt-24{margin-top:24px;}
.su-mt-32{margin-top:32px;}
.su-mt-40{margin-top:40px;}
.su-mt-48{margin-top:48px;}
.su-mt-56{margin-top:56px;}
.su-mt-64{margin-top:64px;}
.su-mt-72{margin-top:72px;}
.su-mt-80{margin-top:80px;}
.su-mr-0{margin-right:0px;}
.su-mr-1{margin-right:1px;}
.su-mr-2{margin-right:2px;}
.su-mr-3{margin-right:3px;}
.su-mr-4{margin-right:4px;}
.su-mr-8{margin-right:8px;}
.su-mr-16{margin-right:16px;}
.su-mr-24{margin-right:24px;}
.su-mr-32{margin-right:32px;}
.su-mr-40{margin-right:40px;}
.su-mr-48{margin-right:48px;}
.su-mr-56{margin-right:56px;}
.su-mr-64{margin-right:64px;}
.su-mr-72{margin-right:72px;}
.su-mr-80{margin-right:80px;}
.su-mb-0{margin-bottom:0px;}
.su-mb-1{margin-bottom:1px;}
.su-mb-2{margin-bottom:2px;}
.su-mb-3{margin-bottom:3px;}
.su-mb-4{margin-bottom:4px;}
.su-mb-8{margin-bottom:8px;}
.su-mb-16{margin-bottom:16px;}
.su-mb-24{margin-bottom:24px;}
.su-mb-32{margin-bottom:32px;}
.su-mb-40{margin-bottom:40px;}
.su-mb-48{margin-bottom:48px;}
.su-mb-56{margin-bottom:56px;}
.su-mb-64{margin-bottom:64px;}
.su-mb-72{margin-bottom:72px;}
.su-mb-80{margin-bottom:80px;}
.su-mx-0{margin-left:0px;margin-right:0px;}
.su-mx-1{margin-left:1px;margin-right:1px;}
.su-mx-2{margin-left:2px;margin-right:2px;}
.su-mx-3{margin-left:3px;margin-right:3px;}
.su-mx-4{margin-left:4px;margin-right:4px;}
.su-mx-8{margin-left:8px;margin-right:8px;}
.su-mx-16{margin-left:16px;margin-right:16px;}
.su-mx-24{margin-left:24px;margin-right:24px;}
.su-mx-32{margin-left:32px;margin-right:32px;}
.su-mx-40{margin-left:40px;margin-right:40px;}
.su-mx-48{margin-left:48px;margin-right:48px;}
.su-mx-56{margin-left:56px;margin-right:56px;}
.su-mx-64{margin-left:64px;margin-right:64px;}
.su-mx-72{margin-left:72px;margin-right:72px;}
.su-mx-80{margin-left:80px;margin-right:80px;}
.su-my-0{margin-top:0px;margin-bottom:0px;}
.su-my-1{margin-top:1px;margin-bottom:1px;}
.su-my-2{margin-top:2px;margin-bottom:2px;}
.su-my-3{margin-top:3px;margin-bottom:3px;}
.su-my-4{margin-top:4px;margin-bottom:4px;}
.su-my-8{margin-top:8px;margin-bottom:8px;}
.su-my-16{margin-top:16px;margin-bottom:16px;}
.su-my-24{margin-top:24px;margin-bottom:24px;}
.su-my-32{margin-top:32px;margin-bottom:32px;}
.su-my-40{margin-top:40px;margin-bottom:40px;}
.su-my-48{margin-top:48px;margin-bottom:48px;}
.su-my-56{margin-top:56px;margin-bottom:56px;}
.su-my-64{margin-top:64px;margin-bottom:64px;}
.su-my-72{margin-top:72px;margin-bottom:72px;}
.su-my-80{margin-top:80px;margin-bottom:80px;}
.su-opacity-0 {opacity:0%;}
.su-opacity-10 {opacity:10%;}
.su-opacity-20 {opacity:20%;}
.su-opacity-30 {opacity:30%;}
.su-opacity-40 {opacity:40%;}
.su-opacity-50 {opacity:50%;}
.su-opacity-60 {opacity:60%;}
.su-opacity-70 {opacity:70%;}
.su-opacity-80 {opacity:80%;}
.su-opacity-90 {opacity:90%;}
.su-opacity-100 {opacity:100%;}
